{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'交换生 - 首页'}}{{/block}}
{{block 'head'}}
<link href="/public/css/main.css" rel="stylesheet">
<style>
.col-md-offset-2 {
    margin-left: 16.66666667%;
    top: -220px
}
</style>
{{/block}}
{{block 'body'}}
<section class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="/">管理员<span class="sr-only">(current)</span></a></li>
          <li><a href="/">院校</a></li>
          <li><a href="/">交换生</a></li>
          <li class="active"><a href="/judge">第三方评估</a></li>
          <li><a href="/">翻译机构</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <h2 class="sub-header">修改评估信息</h2>
        <br/><br/>
        <h3>评估信息</h3><br/>
        <form action="/edit1-judge" method="post">
            <input type="hidden" value="{{ user._id}}" name="id">
            <textarea name="judge" rows="10" cols="30">
                  {{user.judge}}
            </textarea>
            <br/>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
          </div>
      </div>
    </div>
  </div>
  
</section>
{{/block}}
